Loaner/GetCreditScore/Connected Services/CreditScoreService/CreditScoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.web.credit.bank.org/" targetNamespace="http://service.web.credit.bank.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="creditScore" type="tns:creditScore" />
  <xs:element name="creditScoreResponse" type="tns:creditScoreResponse" />
  <xs:complexType name="creditScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="ssn" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="creditScoreResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>