Loaner/GetBanks/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GetBanksWSDL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GetBanksWSDL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfBanks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Banks" nillable="true" type="tns:Banks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBanks" nillable="true" type="tns:ArrayOfBanks" />
  <xs:complexType name="Banks">
    <xs:sequence>
      <xs:element minOccurs="0" name="Input" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Output" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Banks" nillable="true" type="tns:Banks" />
</xs:schema>