Loaner/WebBankConsole/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebBank" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebBank" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="LoanRequest">
    <xs:sequence>
      <xs:element name="_x003C_CreditScore_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LoanAmmount_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_LoanDuration_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ssn_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanRequest" nillable="true" type="tns:LoanRequest" />
  <xs:complexType name="UniversalResponse">
    <xs:sequence>
      <xs:element name="_x003C_interestrate_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_ssn_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UniversalResponse" nillable="true" type="tns:UniversalResponse" />
</xs:schema>